# Ignore node_modules in both frontend and backend
client/node_modules/
server/node_modules/

# Ignore sensitive env files
.env
client/.env
server/.env

# Ignore build output
client/dist/

# Mac system file
.DS_Store
